USE [QLHSHSS]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[id] [int] NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
 CONSTRAINT [PK_DangNhap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HocSinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocSinh](
	[imagest] [image] NOT NULL,
	[MaHS] [int] NOT NULL,
	[TenHS] [nvarchar](50) NULL,
	[ngaysinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[MaLop] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Sdt] [int] NULL,
	[DiemTB] [float] NULL,
	[XepLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_HocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khoi]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoi](
	[MaKhoi] [int] NOT NULL,
	[TenKhoi] [nvarchar](50) NULL,
 CONSTRAINT [PK_Khoi] PRIMARY KEY CLUSTERED 
(
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lop]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [int] NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[MaKhoi] [int] NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DangNhap] ([id], [TaiKhoan], [MatKhau]) VALUES (1, N'admin', N'123')
INSERT [dbo].[DangNhap] ([id], [TaiKhoan], [MatKhau]) VALUES (2, N'phamtai', N'123')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (1, N'10')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (2, N'11')
INSERT [dbo].[Khoi] ([MaKhoi], [TenKhoi]) VALUES (3, N'12')
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (1, N'C1', 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (2, N'C2', 1)
INSERT [dbo].[Lop] ([MaLop], [TenLop], [MaKhoi]) VALUES (3, N'C3', 1)
ALTER TABLE [dbo].[HocSinh]  WITH CHECK ADD  CONSTRAINT [FK_HocSinh_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[HocSinh] CHECK CONSTRAINT [FK_HocSinh_Lop]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoi] FOREIGN KEY([MaKhoi])
REFERENCES [dbo].[Khoi] ([MaKhoi])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoi]
GO
/****** Object:  StoredProcedure [dbo].[AddHocSinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddHocSinh]
@imagestt image,
@mahs int,
@TenHs nvarchar(50),
@MaLop int,
@GioiTinh nvarchar(10),
@ngaysinhp date,
@DiaChi nvarchar(50),
@SoDT int,
@DiemHL float
as
begin
insert into HocSinh(imagest,MaHS,TenHs,MaLop,GioiTinh,ngaysinh,DiaChi,Sdt,DiemTB)
values(@imagestt,@mahs,@TenHs,@MaLop,@GioiTinh,@ngaysinhp,@DiaChi,@SoDT,@DiemHL)
end
GO
/****** Object:  StoredProcedure [dbo].[AddKhoi]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddKhoi]
@makhoi int,
@TenKhoi nvarchar(50)
as
begin
insert into Khoi(MaKhoi,TenKhoi)
values(@makhoi,@TenKhoi)
end
GO
/****** Object:  StoredProcedure [dbo].[AddLop]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddLop]
@malop int,
@TenLop nvarchar(50),
@MaKhoi int
as
begin
insert into Lop(MaLop,TenLop,MaKhoi)
values(@malop,@TenLop,@MaKhoi)
end
GO
/****** Object:  StoredProcedure [dbo].[Addngdung]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Addngdung]
@id int,
@Taikhoan nvarchar(50),
@matkhau nvarchar(50)
as
begin
insert into DangNhap(id,TaiKhoan,MatKhau)
values(@id, @Taikhoan, @matkhau)
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteHocSinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteHocSinh]
@MaHs int
as
begin
delete from HocSinh where MaHs = @MaHs
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteKhoi]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteKhoi]
@MaKhoi int
as
begin
delete Khoi where MaKhoi = @MaKhoi
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteLop]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLop]
@MaLop int
as
begin
delete Lop where MaLop = @MaLop
end
GO
/****** Object:  StoredProcedure [dbo].[Deletengdung]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Deletengdung]
@id int
as
begin
delete DangNhap where id = @id
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllHocSinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllHocSinh]

as
begin
 select imagest, MaHS, TenHS,ngaysinh, GioiTinh, TenLop, TenKhoi,DiemTB, XepLoai, DiaChi, Sdt
 from HocSinh, Khoi, Lop
 where HocSinh.MaLop = Lop.MaLop and Khoi.MaKhoi = Lop.MaKhoi
end

GO
/****** Object:  StoredProcedure [dbo].[GetAllKhoi]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllKhoi]
as
select * from Khoi
GO
/****** Object:  StoredProcedure [dbo].[GetAllLop]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllLop]

as
begin
 select MaLop, TenLop, TenKhoi
 from  Khoi, Lop
 where Khoi.MaKhoi = Lop.MaKhoi
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllngdung]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[GetAllngdung]
as
select * from DangNhap
GO
/****** Object:  StoredProcedure [dbo].[tmkiemkhoihocsinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tmkiemkhoihocsinh]
@khoihocsinh nvarchar(50)
AS
BEGIN
	select imagest, MaHS, TenHS,ngaysinh, GioiTinh, TenLop, TenKhoi,DiemTB, XepLoai, DiaChi, Sdt
	from HocSinh, Khoi, Lop
	where TenKhoi = @khoihocsinh and HocSinh.MaLop = Lop.MaLop and Khoi.MaKhoi = Lop.MaKhoi
END

GO
/****** Object:  StoredProcedure [dbo].[tmkiemlophocsinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tmkiemlophocsinh]
@lophocsinh nvarchar(50)
AS
BEGIN
	select imagest, MaHS, TenHS,ngaysinh, GioiTinh, TenLop, TenKhoi,DiemTB, XepLoai, DiaChi, Sdt
	from HocSinh, Khoi, Lop
	where TenLop = @lophocsinh and HocSinh.MaLop = Lop.MaLop and Khoi.MaKhoi = Lop.MaKhoi
END

GO
/****** Object:  StoredProcedure [dbo].[tmkiemmahocsinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tmkiemmahocsinh]
@mahocsinh nvarchar(50)
AS
BEGIN
	select *from HocSinh 
	where MaHS = @mahocsinh
END
GO
/****** Object:  StoredProcedure [dbo].[tmkiemtenhocsinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tmkiemtenhocsinh]
@tenhocsinh nvarchar(50)
AS
BEGIN
	select imagest, MaHS, TenHS,ngaysinh, GioiTinh, TenLop, TenKhoi,DiemTB, XepLoai, DiaChi, Sdt
	from HocSinh, Khoi, Lop
	where TenHS = @tenhocsinh and HocSinh.MaLop = Lop.MaLop and Khoi.MaKhoi = Lop.MaKhoi
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateHocSinh]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHocSinh]
@imagestt image,
@MaHs int,
@TenHs nvarchar(50),
@MaLop int,
@GioiTinh nvarchar(10),
@ngaysinhp date,
@DiaChi nvarchar(50),
@SoDT int,
@DiemHL float,
@HocLuc nvarchar(50)
as
begin
Update HocSinh
set 
imagest = @imagestt,
TenHs = @TenHs,
MaLop = @MaLop,
GioiTinh = @GioiTinh,
ngaysinh = @ngaysinhp,
DiaChi = @DiaChi,
Sdt = @SoDT,
DiemTB = @DiemHL,
XepLoai = @HocLuc
where MaHs = @MaHs
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateKhoi]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateKhoi]
@OrinMakhoi int,
@TenKhoi nvarchar(50)
as
begin
update Khoi set TenKhoi=@TenKhoi
where MaKhoi=@OrinMakhoi
end
GO
/****** Object:  StoredProcedure [dbo].[UpdateLop]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateLop]
@MaLop int,
@TenLop nvarchar(50),
@MaKhoi int
as
begin
update Lop
 set TenLop = @TenLop,MaKhoi = @MaKhoi
where MaLop = @MaLop
end
GO
/****** Object:  StoredProcedure [dbo].[Updatengdung]    Script Date: 10/17/2020 11:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Updatengdung]
@id int,
@Taikhoan nvarchar(50),
@matkhau nvarchar(50)
as
begin
update DangNhap set TaiKhoan = @Taikhoan, MatKhau = @matkhau
where id = @id
end
GO
